.grid {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
}

.main-content .row {
    margin-left: 0;
    margin-right: 0;
}

.footer .row {
    margin-left: 0;
    margin-right: 0;
}

.toast-error{
    position: relative;
    width: 18.75rem;
    padding: 15px 15px 15px 50px;
    margin: 16px 6Px 6px;
    overflow: hidden;
    color: #fff;
    background-color: #ff3547 !important;
    float: right;
  }